*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    font-family: helvetica;
}

.rooms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.content{
    margin-top: 50px;
    width: 80%;
}

.content h2{
    padding-bottom: 5px;
    letter-spacing: 2px;
}

.content p{
    width: 80%;
    font-size: 14px;
    letter-spacing: 2px;
    line-height:20px;
    padding-bottom: 10px;
}   
.cards{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
    margin-bottom: 50px;
    /* margin-left: 70px; */
}

.read{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 50px;
    border-bottom:2px solid #ada6a6 ;
}

.read-text{
    display: flex;
    justify-content: space-between;
}
.book{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}
.read img{
    width: 250px;
    height: 190px;
    margin-bottom:25px;
}


.read-text a{
    color: rgb(0, 0, 250);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid rgb(0, 0, 250);
    padding: 8px 20px;
    border-radius: 5px;
}


@media (max-width:660px){

    
    .rooms{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .content h2{
        font-size: 17px;
    }
    .content p{
        font-size: 12px;
    }
    .cards{
        grid-template-columns: 1fr ;
        grid-row-gap: 30px;
        margin: 30px;
    }
}
